h1{
    background-color: darkred;
    color: azure;
    text-align: center;
    border: solid 5px black;
	border-radius: 25px;

}
pre{
    background-color: blueviolet;
    color: aliceblue;
    
}
p{
    font-size: 24;
    color: blue;
}
body{
    background-color: antiquewhite;
}