/*Pagina de reviews de videojuegos
VaQola et Jesdr223 // 2021 //
*/

footer{
    position: inherit;
    bottom: 0px;
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.redes{
    margin-bottom: 20px;
}

.redes>img{
    margin-left: 25px;
}

a{
    color: white;
}
